<div class="container">
	<div class="row">
		<div class="snippet-section col-md-9">
			<h3>Code Snippet {{currentSnippet + 1}} of {{numberOfSnippets}}</h3>
			<div class="snippet">
				{{snippets[currentSnippet].snippetText}}
			</div>
			<br/>
			
		</div>
		<div class="output-section col-md-3">
			<h3>Output</h3>
			<div class="output">
				<span ng-show="showOutput">{{snippets[currentSnippet].output}}</span>
			</div>
			<br/>
			<button ng-disabled="disableShowOutput" ng-click="doShowOutput()" class="btn btn-default">Show Output</button>&nbsp;&nbsp;<button ng-disabled="disableNext" ng-click="getNext()" class="btn btn-default">Next</button>&nbsp;&nbsp;<button class="btn btn-primary" ng-disabled="disableFinish" ng-click="refresherFinish()">Finish</button>
		</div>
	</div>
</div>
