<div class="container">
	<div class="col-md-9" ng-show="showLoading">
		Loading...
	</div>
	<div class="row" ng-Hide="showLoading">
		<div class="snippet-section col-md-9">
			<h3>Practice Sessions: Code Snippet {{currentSnippet + 1}} of {{numberOfSnippets}}</h3>
			<div hljs language="java" source="snippets[currentSnippet].snippet"></div>
			<br/>
			
		</div>
		<div class="output-section col-md-3">
			<h3>Output</h3>
			<div class="output">
				<span ng-show="showOutput">{{snippets[currentSnippet].output}}</span>
			</div>
			<br/>
			<button ng-disabled="disableShowOutput" refresher-output class="btn btn-default">Show Output</button>&nbsp;&nbsp;<button ng-disabled="disableNext" refresher-next class="btn btn-default">Next</button>&nbsp;&nbsp;<button class="btn btn-primary" ng-disabled="disableFinish" refresher-finish>Finish</button>
		</div>
	</div>
</div>
