<div class="container">
  <section class="overview-text">
	<p><i>CodeScale</i> is an experiment to determine the cognitive weights of basic control structures in imperative programming languages based on user perception and response times.</p>
	<p>The experiment comprises the following stages:
	  <ul>
	    <li><b>Java Refresher:</b> this helps participants get up to speed with basic java control structures. Participants are presented with code snippets in Java and their corresponding output.</li>
		<li><b>Main Activity:</b> at this stage, participants will be presented with Java code snippets and will be required to provide the expected output via a text input field.</li>
		<li><b>Survey:</b> A brief survey would be presented to the participant.</li>
	  </ul>
	</p>
	<p>In order to ensure the accuracy of the experiment, please ensure that you do not get distracted or interrupted throughout the course of your participation.</p>
	<br/>
	<a href="#/refreshers" class="btn btn-primary">I'm Ready, Next Step Please</a>
  </section>
</div>

